.checkbox {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__lable {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox__icon {
  display: inline-block;
  align-items: center;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  background-size: contain;
  border: 2px solid var(--main-clr);
  border-radius: 2px;
}
.checkbox__input {
  @extend %visually-hidden;

  @include transition(
    background-color,
    border-color,
    null,
    var(--animation-time),
    var(--animation-function)
  );

  &:checked + .checkbox__icon {
    background-color: var(--accent-clr);
    border-color: var(--accent-clr);
    background-origin: border-box;
  }
  &:focus + .checkbox__icon {
    border-color: var(--accent-clr);
  }
}

.checkbox__text {
  margin-right: 4px;
  @include font(var(--main-font), 12px, 400, calc(14 / 12), 0.03em, var(--secondary-clr));

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.checkbox__link {
  display: inline-block;
  @include font(var(--main-font), 12px, 400, calc(14 / 12), 0.03em, var(--secondary-clr));

  color: var(--accent-clr);
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
