// Header contacts

.header-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: auto;
    gap: 30px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-contacts__link--top {
  padding-top: 20px;
}
.header-contacts__link--bottom {
  padding-bottom: 20px;
}

.contacts__icon {
  @media screen and (min-width: 768px) {
    fill: currentColor;
  }
}

.header-contacts__link {
  @extend %link;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include font(var(--main-font), 14px, 500, 1.14, 0.02em, var(--secondary-clr));
  @include transition(color, null, null, var(--animation-time), var(--animation-function));
  &:hover,
  &:focus {
    color: var(--accent-clr);
  }
}

// Footer contacts

.footer__contacts {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address {
  display: block;
  font-style: normal;
  @include font(var(--main-font), 14px, 400, 1.7, 0.03em, var(--secondary-accent-clr));
}
.address__text {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  @extend %link;
  @include font(var(--main-font), 14px, 400, 1.7, 0.03em, var(--contacts-link-clr));
  @include transition(color, null, null, var(--animation-time), var(--animation-function));
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-clr);
}
