.contacts {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }

  @media screen and(min-width: 1200px) {
    flex-direction: row;
    margin-left: auto;
  }
}

.contacts__icon {
  @media screen and(min-width: 768px) {
    fill: currentColor;
  }
}
.contacts__link {
  @extend %link;
  @media screen and(min-width: 1200px) {
    display: flex;
    @include display-centered(center, null);
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include font(var(--main-font), 14px, 500, 1.14, 0.02em, var(--secondary-clr));
  @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus {
    color: var(--accent-clr);
  }
}

.contacts__footer {
  margin-right: 70px;
}

.address {
  font-style: normal;
  @include font(var(--main-font), 14px, 400, 1.7, 0.03em, var(--secondary-accent-clr));

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    @extend %link;
    @include font(var(--main-font), 14px, 400, 1.7, 0.03em, var(--contacts-link-clr));
    @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-clr);
  }
}
