.footer {
  height: auto;
  background-color: var(--secondary-bgd-clr);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    height: 252px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
  }
}

.footer__socials-title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(var(--main-font), 14px, 700, calc(16 / 14), 0.03em, var(--secondary-accent-clr));
}

.footer-form {
  margin-top: 60px;
  width: 100%;
  margin-bottom: auto;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
  }
}

.footer-form__title {
  // кнопка STRONG - поэтому блочный
  display: block;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  text-transform: uppercase;
  @include font(var(--main-font), 14px, 700, calc(16 / 14), 0.03em, var(--secondary-accent-clr));

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    text-align: start;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscribe__lable {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe__input {
  display: inline-block;
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: 1px solid var(--border-clr);
  border-radius: 4px;
  filter: drop-shadow(var(--subscribe-btn));
  color: var(--accent-bgd-clr);
  background-color: var(--secondary-bgd-clr);
  outline: transparent;

  @include font(var(--main-font), 16px, 400, calc(20 / 16), 0.03em, var(--contacts-link-clr));

  @include transition(null, border-color, null, var(--animation-time), var(--animation-function));

  &:hover,
  &:focus {
    border-color: var(--accent-clr);
  }
}
