.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--header-boarder-clr);
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
}

.main-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.main-nav__item {
  @include font(var(--main-font), 14px, 500, 1.14, 0.02em, var(--main-clr));

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding: 32px 0;
    color: inherit;

    @include transition(color, null, null, var(--animation-time), var(--animation-function));
    &:hover,
    &:focus {
      color: var(--accent-clr);
    }
    &--current {
      color: var(--accent-clr);
    }

    &--current::after {
      content: '';
      position: absolute;
      bottom: 1.5%;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-clr);
    }
  }
  @media screen and (min-width: 1200px) {
    &--current::after {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 0;
    }
  }
}
