.hero {
  @include section(118px, 118px, null);

  @media screen and (min-width: 1200px) {
    @include section(200px, 200px, var(--secondary-bgd-clr));
  }
}

.hero__overlay {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/img_sm-@1x.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/img_sm-@2x.jpg');
  }

  // Tablet img

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/img_md-@1x.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/img_md-@2x.jpg');
    }
  }

  // Desctop img

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/img_lg-@1x.jpg'), url('../images/hero/img-bg2_lg-@1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/img_lg-@2x.jpg'), url('../images/hero/img-bg2_lg-@2x.png');
    }

    // height: 600px;
  }
}
