// Logo HEADER
.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  text-decoration: none;
  @include font(var(--secondary-font), 26px, 700, calc(31 / 26), 0.03em, var(--main-clr));
}
.logo__web--blue {
  color: var(--accent-clr);
}

// Logo FOOTER
.logo__footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  text-decoration: none;
  @include font(
    var(--secondary-font),
    26px,
    700,
    calc(31 / 26),
    0.03em,
    var(--secondary-accent-clr)
  );
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}
