// Logo HEADER
.logo--upper {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

// Logo FOOTER
.logo--lower {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.logo__web--blue {
  text-decoration: none;
  @include font(var(--secondary-font), 26px, 700, calc(31 / 26), 0.03em, var(--accent-clr));
}

.logo__studio--dark {
  color: var(--main-clr);
}

.logo__studio--light {
  text-decoration: none;
  @include font(
    var(--secondary-font),
    26px,
    700,
    calc(31 / 26),
    0.03em,
    var(--secondary-accent-clr)
  );
}
