.socials {
  @include list(flex, 10px, row, null);
  justify-content: center;
}

.socials__item {
  margin: 0;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-accent-clr);
  color: var(--icons-clr);
  @include transition(
    background-color,
    color,
    null,
    var(--animation-time),
    var(--animation-function)
  );

  &:hover,
  &:focus {
    background-color: var(--accent-clr);
    color: var(--secondary-accent-clr);
  }
}

.socials__icon {
  fill: currentColor;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 93px;
  }

  & > .socials.list {
    margin-bottom: 0;
  }
  & .socials__link--dark {
    background-color: var(--icons-footer-bgd-clr);
    color: var(--main-bgd-clr);
    @include transition(
      background-color,
      null,
      null,
      var(--animation-time),
      var(--animation-function)
    );
  }
  & .socials__icon {
    fill: currentColor;
  }
  & .socials__link--dark:hover,
  & .socials__link--dark:focus {
    background-color: var(--accent-clr);
  }
}
