.team {
  @include section(60px, 60px, var(--accent-bgd-clr));

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px, var(--accent-bgd-clr));
  }
}

.team__list {
  display: flex;
  justify-content: center;
  width: 100%;
  @include list(flex, 30px, column, null);

  @media screen and (min-width: 768px) {
    @include list(flex, 30px, row, wrap);
  }
}

.team__item {
  max-width: 450px;
  // height: 622px;
  background: #ffffff;
  box-shadow: var(--team-card-and-modal);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
  margin: 0;
  @include font(var(--main-font), 16px, 500, calc(19 / 16), 0.03em, var(--main-clr));

  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
    // height: 536px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.team_img {
  width: 100%;
  height: auto;
}

.member-card {
  padding: 30px 32px;
  text-align: center;
}
.member-card__title {
  margin-bottom: 10px;
}
.member-card__txt {
  margin-bottom: 16px;
  color: var(--secondary-clr);
}
